<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<h3> Members </h3>

<h4> Admins </h4>
<% @league.users.where("league_users.league_admin = true").each do |u| %>
  <ul>
    <%= u.user_name %>
  </ul>
<% end %>

<h4> Users </h4>
<% @league.users.where("league_users.league_admin = false").each do |u| %>
  <ul>
    <%= u.user_name %>
  </ul>
<% end %>

<% if logged_in? %>
  <% if current_user.leagues.include?(@league) %>
    <h4> You're already a member of this league </h4>
  <% else %>

    <%= form_for @league.league_users.new do |form| %>
      <%= form.hidden_field :league_id, :value => @league.id %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <%= form.submit "Join this League" %>
    <% end %>

  <% end %>
<% else %>
  <h4> Create an account to be able to join leagues! </h4>
<% end %>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
