<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<h3> Members </h3>

<h4> Admins </h4>
<% @league.users.where("league_users.league_admin = true").each do |u| %>
  <ul>
    <%= u.user_name %>
  </ul>
<% end %>

<h4> Users </h4>
<% @league.users.where("league_users.league_admin = false").each do |u| %>
  <ul>
    <%= u.user_name %>
  </ul>
<% end %>

<% if logged_in? %>
  <% if current_user.leagues.include?(@league) %>
    <h4> You're already a member of this league </h4>
  <% else %>
    <h4>
      <%= link_to "Join this League", new_league_user_path(@league) %>
     </h4>
  <% end %>
<% else %>
  <h4> Create an account to be able to join leagues! </h4>
<% end %>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
