<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<h3> Members </h3>
<% @league.users.each do |u| %>
  <ul>
    <%= u.user_name %>
  </ul>
<% end %>

<h3> Admins </h3>
<% @league.league_users.where("league_admin = true").each do |u| %>
  <ul>
    <%= u.user_id %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
