<p id="notice"><%= notice %></p>

<div class="league-container">

  <div class="league-header">
    <h1> <%= @league.name %></h1>
  </div>

  <div class="league-content">

    <div class="league-table">
      <h1 class="content-header"> League Table </h1>
    </div>

    <div class="league-users">
      <h1 class="content-header"> Members </h1>
      <%= render 'league_users' %>
    </div>

  </div>

</div>



<% if logged_in? %>
  <% if current_user.leagues.include?(@league) %>

    <h4> You're already a member of this league </h4>

    <%= link_to "Leave this league", league_league_user_path(@league, current_user), :method => :delete %>

  <% else %>

  <%= form_with(model: [ @league, LeagueUser.new ]) do |form| %>
    <%= form.hidden_field :league_id,           :value => @league.id %>
    <%= form.hidden_field :user_id,             :value => current_user.id %>
    <%= form.submit "Join this league" %>
  <% end %>

  <% end %>
<% else %>

  <h4> Create an account to be able to join leagues! </h4>

<% end %>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
