<p id="notice"><%= notice %></p>

<div class="user-container">

  <h1>
    <%= @user.user_name %>
  </h1>

  <div class="user-leagues">

    <h2>
      My Leagues
    </h2>

    <% if @user.league_users.any? %>
      <% @user.league_users.each do |league_user| %>
        <h4>
          <%= league_user.league.name %>
        </h4>
      <% end %>
    <% else %>
      <p>
        You don't seem to be a member of any leagues.
      </p>
    <% end %>

    <h4>
      <%= link_to 'Start a new League', new_league_path %>
    </h4>

  </div>


  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

</div>
