<div class="site-header">
  <h1> inHouse </h1>

  <div class="header-login">

    <% if logged_in? %>

      <%= link_to "Log Out", logout_path, method: :delete %>

    <% else %>

      <%= form_with(url: login_path, class: 'header-form') do |form| %>
        <%= form.text_field :email_address,   value: 'Email' %>
        <%= form.text_field :password,        value: 'Password' %>
        <%= form.submit "Log In" %>
      <% end %>

    <% end %>

  </div>

</div>
