<div class="site-header">
  <h1> inHouse </h1>

  <div class="header-login">

    <% if logged_in? %>

    <div class="header-links">
      <%= link_to "#{current_user.user_name}", user_path(current_user) %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    </div>

    <% else %>

      <div class="header-form">
        <%= form_for(:session, url: login_path)      do |form| %>
          <%= form.text_field :email_address,        value: 'Email' %>
          <%= form.text_field :password,             value: 'Password' %>
          <%= form.submit "Log In" %>
        <% end %>
      </div>

    <% end %>

  </div>

</div>
